<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- dao에서 namespace의 값으로 접근함, namespace는 유일해야함 -->
<mapper namespace="NewsBoardDAO">

	<!-- 전체 게시글 개수 /페이징할때 필요 -->
	<select id="getBoardListCnt" resultType="int">
		SELECT count(*) as
		listCnt FROM newsboard
	</select>

	<!-- 게시글리스트 가져오기 /검색기능은 if문으로 처리 /가져올때 페이징에서 지정한 개수만큼 가져오기 limit로 처리 -->
	<select id="getnewsBoardList" resultType="newsboard">
		select newsseq, title, writer, content, date_format(regdata,
		'%y-%m-%d') as regdata, cnt, filename from newsboard
		where 1 = 1
		<if test="searchSelect == 'TITLE'">
			AND title like '%${searchText}%'
		</if>
		<if test="searchSelect == 'WRITER'">
			AND writer like '%${searchText}%'
		</if>
		order by newsseq desc LIMIT #{startList}, #{listSize}
	</select>

	<!-- 해당 게시글 가져오기 -->
	<select id="getNewsBoard" resultType="newsboard">
		select * from newsboard
		where newsseq =#{newsseq}
	</select>
	
	<!-- 게시글 조회수 +1 -->
	<update id="updateCntNewsBoard">
		update newsboard set cnt=cnt+1 where newsseq=#{newsseq}
	</update>

	<!-- 게시글 쓰기 -->
	<insert id="insertNewsBoard">
		INSERT into newsboard (title,writer,content,filename,
		id)
		VALUES(#{title},#{writer},#{content},#{filename}, #{id})
	</insert>

	<!-- 게시글 수정 -->
	<update id="updateNewsBoard">
		update newsboard
		set title=#{title},writer=#{writer},content=#{content} where newsseq=#{newsseq}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="deleteNewsBoard">
		delete from newsboard where newsseq = #{newsseq}
	</delete>
	
	<!-- 게시글 리스트 가져오기 /json 최신글 5개만 보여주기-->
	<select id="getnewsBoardListNewsJson" resultType="newsboard">
		select * from
		newsboard order by newsseq desc limit 0,5;
	</select>

	<!-- 죽은코드 
	<select id="searchNewsBoard" resultType="newsboard">
		select * from newsboard
		order by newsseq desc
	</select>
	-->
</mapper>
